node_modules

# xcode-build-server files
buildServer.json
.compile

# Local build artifacts
.build/

# Agent and IDE specific directories
.agents
.gemini
.agent/

# System files
.DS_Store
**/.DS_Store

# Local testing helpers
geolocations/

# Ignore heavy binaries and platform folders for EAS
*.aab
*.ipa
*.apk
ios/
android/
**/ios/
**/android/
