<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjMwMquMOK2FESFm9FUgL9nIu86DQvNrY</string>
	<key>GCM_SENDER_ID</key>
	<string>1048120331596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.murzik7348.K-and-M</string>
	<key>PROJECT_ID</key>
	<string>deliveryapi-4523c</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapi-4523c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048120331596:ios:0414501b39053c02ce53e9</string>
</dict>
</plist>